{% extends 'base2.html' %}
{% load static %}

{% block title %}{{ post.title_tag }}{% endblock %}


{% block content %}
<head>
   <link rel="stylesheet" type="text/css" href="{% static 'liststyles.css' %}">
</head>
<div class="container">
   <div class="box">
	   <div class="post_title">
		   <h1>{{ post.title }}</h1>
		  <small>&nbspBy:
		  {{ post.author.first_name }}
		  {{ post.author.last_name }} -
		  {{ post.post_date }}
		  {% if user.is_authenticated %}
		  {% if user.id == post.author.id %}
		  - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
		  <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
		  {% endif %}
		  {% endif %}
		  </small><br/>
	   </div>

      <hr>
	   <div class="post_body">
		  {% if post.header_image %}
		  <img src="{{ post.header_image.url }}" class="post-image">
		  {% endif %}
		   {{ post.body|safe }}
	   </div>
      <hr>
      <form action="{% url 'like_post' post.pk %}" method="POST">
         {% csrf_token %}

      </form>
      <br/>
		  <div class="card mb-3 bg-color2">
			 <div class="row no-gutters">
				<div class="col-md-2">
				   {% if post.author.profile.profile_pic %}
				   <img src="{{ post.author.profile.profile_pic.url }}" class="card-img center-img">
				   {% else %}
				   <img src="{% static 'theblog/images/default_profile_pic.png' %}" class="card-img center-img">
				   {% endif %}
				</div>
				<div class="col-md-10">
				   <div class="card-body">
					  <h5 class="card-title">
						 {{ post.author.first_name }}
						 {{ post.author.last_name }}
					  </h5>
					  <p class="small text-muted">
						 <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>
						 {% if post.author.profile.website_url %}
						 | <a href="{{ post.author.profile.website_url }}">  Website</a>
						 {% endif %}
						 {% if post.author.profile.facebook_url %}
						 | <a href="{{ post.author.profile.facebook_url }}">LinkedIn</a>
						 {% endif %}
						 {% if post.author.profile.twitter_url %}
						 | <a href="{{ post.author.profile.twitter_url }}">Github</a>
						 {% endif %}

					  </p>
					  <p class="card-text">
						 {{ post.author.profile.bio }}
					  </p>
				   </div>
				</div>
			 </div>
		  </div>
   </div>
</div>
{% endblock %}

<!--	   <div class="card mb-3">-->
<!--		  <div class="row no-gutters">-->
<!--			 <div class="col-md-2">-->
<!--				{% if post.author.profile.profile_pic %}-->
<!--				<img src="{{ post.author.profile.profile_pic.url }}" class="card-img">-->
<!--				{% else %}-->
<!--				<img src="{% static 'theblog/images/default_profile_pic.png' %}" class="card-img">-->
<!--				{% endif %}-->
<!--			 </div>-->
<!--			 <div class="col-md-10">-->
<!--				<div class="card-body">-->
<!--				   <h5 class="card-title">-->
<!--					  {{ post.author.first_name }}-->
<!--					  {{ post.author.last_name }}-->
<!--				   </h5>-->
<!--				   <p class="small text-muted">-->
<!--					  <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>-->
<!--					  {% if post.author.profile.website_url %}-->
<!--					  | <a href="{{ post.author.profile.website_url }}">  Website</a>-->
<!--					  {% endif %}-->
<!--					  {% if post.author.profile.facebook_url %}-->
<!--					  | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>-->
<!--					  {% endif %}-->
<!--					  {% if post.author.profile.twitter_url %}-->
<!--					  | <a href="{{ post.author.profile.twitter_url }}">Twitter</a>-->
<!--					  {% endif %}-->
<!--	-->
<!--				   </p>-->
<!--				   <p class="card-text">-->
<!--					  {{ post.author.profile.bio }}-->
<!--				   </p>-->
<!--				</div>-->
<!--			 </div>-->
<!--		  </div>-->
<!--	   </div>-->
<!--	   <div class="card mb-3">-->
<!--		  <div class="row no-gutters">-->
<!--			 <div class="col-md-2">-->
<!--				{% if post.author.profile.profile_pic %}-->
<!--				<img src="{{ post.author.profile.profile_pic.url }}" class="card-img">-->
<!--				{% else %}-->
<!--				<img src="{% static 'theblog/images/default_profile_pic.png' %}" class="card-img">-->
<!--				{% endif %}-->
<!--			 </div>-->
<!--			 <div class="col-md-10">-->
<!--				<div class="card-body">-->
<!--				   <h5 class="card-title">-->
<!--					  {{ post.author.first_name }}-->
<!--					  {{ post.author.last_name }}-->
<!--				   </h5>-->
<!--				   <p class="small text-muted">-->
<!--					  <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>-->
<!--					  {% if post.author.profile.website_url %}-->
<!--					  | <a href="{{ post.author.profile.website_url }}">  Website</a>-->
<!--					  {% endif %}-->
<!--					  {% if post.author.profile.facebook_url %}-->
<!--					  | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>-->
<!--					  {% endif %}-->
<!--					  {% if post.author.profile.twitter_url %}-->
<!--					  | <a href="{{ post.author.profile.twitter_url }}">Twitter</a>-->
<!--					  {% endif %}-->
<!--	-->
<!--				   </p>-->
<!--				   <p class="card-text">-->
<!--					  {{ post.author.profile.bio }}-->
<!--				   </p>-->
<!--				</div>-->
<!--			 </div>-->
<!--		  </div>-->
<!--	   </div>-->
<!--	   <div class="card mb-3">-->
<!--		  <div class="row no-gutters">-->
<!--			 <div class="col-md-2">-->
<!--				{% if post.author.profile.profile_pic %}-->
<!--				<img src="{{ post.author.profile.profile_pic.url }}" class="card-img">-->
<!--				{% else %}-->
<!--				<img src="{% static 'theblog/images/default_profile_pic.png' %}" class="card-img">-->
<!--				{% endif %}-->
<!--			 </div>-->
<!--			 <div class="col-md-10">-->
<!--				<div class="card-body">-->
<!--				   <h5 class="card-title">-->
<!--					  {{ post.author.first_name }}-->
<!--					  {{ post.author.last_name }}-->
<!--				   </h5>-->
<!--				   <p class="small text-muted">-->
<!--					  <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>-->
<!--					  {% if post.author.profile.website_url %}-->
<!--					  | <a href="{{ post.author.profile.website_url }}">  Website</a>-->
<!--					  {% endif %}-->
<!--					  {% if post.author.profile.facebook_url %}-->
<!--					  | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>-->
<!--					  {% endif %}-->
<!--					  {% if post.author.profile.twitter_url %}-->
<!--					  | <a href="{{ post.author.profile.twitter_url }}">Twitter</a>-->
<!--					  {% endif %}-->
<!--				   </p>-->
<!--				   <p class="card-text">-->
<!--					  {{ post.author.profile.bio }}-->
<!--				   </p>-->
<!--				</div>-->
<!--			 </div>-->
<!--		  </div>-->
<!--	   </div>-->
<!--	   <div class="card mb-3">-->
<!--		  <div class="row no-gutters">-->
<!--			 <div class="col-md-2">-->
<!--				{% if post.author.profile.profile_pic %}-->
<!--				<img src="{{ post.author.profile.profile_pic.url }}" class="card-img">-->
<!--				{% else %}-->
<!--				<img src="{% static 'theblog/images/default_profile_pic.png' %}" class="card-img">-->
<!--				{% endif %}-->
<!--			 </div>-->
<!--			 <div class="col-md-10">-->
<!--				<div class="card-body">-->
<!--				   <h5 class="card-title">-->
<!--					  {{ post.author.first_name }}-->
<!--					  {{ post.author.last_name }}-->
<!--				   </h5>-->
<!--				   <p class="small text-muted">-->
<!--					  <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>-->
<!--					  {% if post.author.profile.website_url %}-->
<!--					  | <a href="{{ post.author.profile.website_url }}">  Website</a>-->
<!--					  {% endif %}-->
<!--					  {% if post.author.profile.facebook_url %}-->
<!--					  | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>-->
<!--					  {% endif %}-->
<!--					  {% if post.author.profile.twitter_url %}-->
<!--					  | <a href="{{ post.author.profile.twitter_url }}">Twitter</a>-->
<!--					  {% endif %}-->
<!--				   </p>-->
<!--				   <p class="card-text">-->
<!--					  {{ post.author.profile.bio }}-->
<!--				   </p>-->
<!--				</div>-->
<!--			 </div>-->
<!--		  </div>-->
<!--	   </div>-->
<!--	   <div class="card mb-3">-->
<!--		  <div class="row no-gutters">-->
<!--			 <div class="col-md-2">-->
<!--				{% if post.author.profile.profile_pic %}-->
<!--				<img src="{{ post.author.profile.profile_pic.url }}" class="card-img">-->
<!--				{% else %}-->
<!--				<img src="{% static 'theblog/images/default_profile_pic.png' %}" class="card-img">-->
<!--				{% endif %}-->
<!--			 </div>-->
<!--			 <div class="col-md-10">-->
<!--				<div class="card-body">-->
<!--				   <h5 class="card-title">-->
<!--					  {{ post.author.first_name }}-->
<!--					  {{ post.author.last_name }}-->
<!--				   </h5>-->
<!--				   <p class="small text-muted">-->
<!--					  <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>-->
<!--					  {% if post.author.profile.website_url %}-->
<!--					  | <a href="{{ post.author.profile.website_url }}">  Website</a>-->
<!--					  {% endif %}-->
<!--					  {% if post.author.profile.facebook_url %}-->
<!--					  | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>-->
<!--					  {% endif %}-->
<!--					  {% if post.author.profile.twitter_url %}-->
<!--					  | <a href="{{ post.author.profile.twitter_url }}">Twitter</a>-->
<!--					  {% endif %}-->
<!--				   </p>-->
<!--				   <p class="card-text">-->
<!--					  {{ post.author.profile.bio }}-->
<!--				   </p>-->
<!--				</div>-->
<!--			 </div>-->
<!--		  </div>-->
<!--	   </div>-->
<!--</div>-->